@charset "utf-8";
.brand-recommend-list li:hover img,.shop-recommend li:hover img,.highly-recommend:hover img{transform:scale(1.2,1.2);-webkit-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;-moz-transition:all 0.5s;}
/*----------品牌商家---start--------------*/
/*轮播*/
div.business-banner{height: 380px;}
div.business-dot span{background-color: #e9e0d7;width: 15px;height: 15px;}
div.business-dot span.on{background-color: #fe8f01;}
/*品牌推荐*/
.business-title{text-align: center;}
.business-title p,.business-title h2{display: inline-block;*display: inline;}
.business-title p{font-size: 22px;color: #666;background-color: #fff;padding:0 20px;margin-top: -18px;vertical-align: 18px;}
.business-title h2{background-color: #666;zoom:1;border-top: 2px solid #666;padding:0 35px;background-color: transparent;}
.business-recommend{margin-top: 120px;}
.brand-recommend-list{margin-top: 60px;margin-left: -5px;position: relative;}
.brand-recommend-list li{float: left;width: 590px;height: 280px;margin:5px;position: relative;z-index:10;overflow: hidden;}
.brand-names{position: absolute;bottom:0;width: 100%;background:rgba(0,0,0,0.5);color:#fff;height: 60px;line-height: 60px;font-size: 20px;text-indent:24px; *background-color: #222;z-index:20;left: 0;}
.famous-brand{margin-top: 100px;}
.famous-brand-list{margin-top: 50px;}
.famous-brand-list li{float:left;margin:10px;border:1px solid #ddd;width: 278px;height: 480px;overflow: hidden;text-align: center;}
.famous-brand-list li>img{display: block;width: 100%;height: 360px;}
.brand-logo{width: 100%;height: 36px;margin-top: 15px;}
.brand-logo img{max-width: 100%;max-height: 36px;}
.go-shopping{margin-top: 20px;padding:2px 10px;background-color: #cd2429;color:#fff;font-size: 12px;border-radius: 3px;display: inline-block;*display: inline;zoom:1;}
.famous-brand-list li:hover,.shop-goods-list li:hover{border-color: #ff7701;}
/*----------品牌商家---end--------------*/
/*----------品牌商家店铺---start--------------*/
.business-shop-banner{width: 100%;min-width: 1200px;height: 480px;background-color: #f2f2f2;background:url(../images/brand-business/business-shop-banner1.jpg) center center no-repeat;}
.shop-recommend{margin-top: 40px;}
.highly-recommend{width: 890px;margin-right: 5px;height: 290px;overflow: hidden;}
.highly-recommend img{width: 100%;height: 100%;}
.shop-recommend li{float: left;width: 290px;height: 290px;overflow: hidden;position: relative;z-index:10;margin:5px;}
.shop-recommend li img{width: 100%;height: 100%;}
.shop-recommend-msg{position: absolute;bottom: 0;width: 100%;left: 0;z-index: 20;color:#fff;font-size: 16px;text-indent: 20px;height: 50px;line-height: 50px;background-color: #000;}
.shop-goods-list{margin-top:80px;}
.shop-goods-list li{float: left;width: 288px;border:1px solid #eee;height: 460px;overflow: hidden;margin:5px;}
.shop-goods-list li img{width: 100%;height: 360px;}
.shop-goods-price {text-align: center;margin-top: 35px;} 
.shop-goods-price span{font-size: 14px;color:#888;}
.shop-goods-price p{color:#333;font-size: 16px;}
.shop-goods-price p b{color:#888;font-size: 14px;text-decoration: line-through;margin-top: 10px;}
/*----------品牌商家店铺---end--------------*/